<!DOCTYPE html>
<html>

<head>
    <title>welcome video test server</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf8">
    <script type="text/javascript" src="/static/js/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="/static/js/table.js"></script>

    <link rel="stylesheet" type="text/css" href="/static/css/cssreset.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/style.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/table.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/listen.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/main.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/button.css" />
    <script language="JavaScript">
    $(document).ready(function() {
        function show_main() {
            table_color();
            $('#menu li').css('color', 'black');
            $(this).css('color', 'red');
            $.get(
                $(this).attr('href'), {},
                function(data, status) {
                    $('.content-main').html(data);
                }
            );
        };
        $('#menu li').click(show_main);
    });
    $(function() {
        $($('#menu li')[0]).click();
    });
    </script>


    {% include header.html %}
</head>

<div id="content">
    <div class="menu-main">
        {% module Template('menu.html', admin=admin) %}
        <div class="content-main" name="content-main" id="content-main">welcome video test online server</div>
    </div>
</div>

</html>
